
# https://github.com/rspec-3-book/rspec-print_failures_eagerly
# clone this lib to $HOME/ruby/rspec
-I<%= ENV['HOME'] %>/ruby/rspec/rspec-print_failures_eagerly/lib
--require 'rspec/print_failures_eagerly'



